<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_FlatCategoryURL>
			<version>1.0.0.4</version>
		</Fishpig_FlatCategoryURL>
	</modules>
	<global>
		<blocks>
			<flatcategoryurl>
				<class>Fishpig_FlatCategoryURL_Block</class>
			</flatcategoryurl>
		</blocks>
		<helpers>
			<flatcategoryurl>
				<class>Fishpig_FlatCategoryURL_Helper</class>
			</flatcategoryurl>
		</helpers>
		<models>
			<catalog>
				<rewrite>
					<url>Fishpig_FlatCategoryURL_Model_Catalog_Url</url>
				</rewrite>
			</catalog>
		</models>
    <resources>
      <flatcategoryurl>
        <setup>
          <module>Fishpig_FlatCategoryURL</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
      </flatcategoryurl>
    </resources>
	</global>
	<adminhtml>
  	<events>
    	<category_prepare_ajax_response>
      	<observers>
        	<flatcategoryurl>
          	<type>singleton</type>
          	<class>Fishpig_FlatCategoryURL_Helper_Data</class>
          	<method>categoryPrepareAjaxResponseObserver</method>
        	</flatcategoryurl>
      	</observers>
    	</category_prepare_ajax_response>
  	</events>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<flatcategoryurl before="Mage_Adminhtml">Fishpig_FlatCategoryURL_Adminhtml</flatcategoryurl>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<flatcategoryurl>
			<settings>
				<enabled>1</enabled>
				<include_parent_path>0</include_parent_path>
				<apply_globally>1</apply_globally>
			</settings>
		</flatcategoryurl>
	</default>
</config>