<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_FlatCategoryURL>
			<version>1.0.0.1</version>
		</Fishpig_FlatCategoryURL>
	</modules>
	<global>
		<blocks>
			<flatcategoryurl>
				<class>Fishpig_FlatCategoryURL_Block</class>
			</flatcategoryurl>
		</blocks>
		<models>
			<catalog>
				<rewrite>
					<url>Fishpig_FlatCategoryURL_Model_Catalog_Url</url>
				</rewrite>
			</catalog>
		</models>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<flatcategoryurl before="Mage_Adminhtml">Fishpig_FlatCategoryURL_Adminhtml</flatcategoryurl>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<flatcategoryurl>
			<settings>
				<enabled>1</enabled>
				<include_parent_path>0</include_parent_path>
			</settings>
		</flatcategoryurl>
	</default>
</config>